/* import tailwindcss */
/*@import "tailwindcss/base";*/
/*@import "tailwindcss/components";*/
/*@import "tailwindcss/utilities";*/

@import "~tailwindcss/base.css";
@import '~@fontsource/montserrat';


.dark {
    --color-bg-primary: #3d4a60;
    --color-bg-secondary: #242d3b;
    --color-text-primary: #f7fafc;
    --color-text-secondary: #e2e8f0;
    --color-text-accent: #81e6d9;
}

.light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #edf2f7;
    --color-text-primary: #2d3748;
    --color-text-secondary: #4a5568;
    --color-text-accent: #2b6cb0;
}

.input-text {
    @apply text-sm ml-2 px-3 py-2 max-w-xl w-full text-gray-700
    border border-zinc-300 border-solid rounded-lg shadow-none
    focus:outline-none  focus:ring-green-500 focus:border-green-500 focus:ring-1
    placeholder:text-zinc-300;
}

.font-question {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 600;
}

.text-theme {
    @apply text-primary;
}

.bg-theme {
    @apply bg-secondary;

}

.box-theme {
    @apply bg-primary;
}

.none-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}




@import "~tailwindcss/components.css";
@import "~tailwindcss/utilities.css";